[Desktop Entry]
Type=Application
Name=Curtail-Snap
GenericName=Music Player
Comment=Compress your images
Icon=${SNAP}/meta/gui/curtail.svg
Categories=GNOME;GTK;Graphics;
Exec=curtail %U
TryExec=audacious-snap
StartupNotify=true
StartupWMClass=curtail
Terminal=false
MimeType=image/jpeg;image/png;


